
.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    min-width: 400px;
    max-width: 600px;
}

.checks {
    text-align: left;
}

ul {
    text-align: left;
}

img {
    padding-left: 20px;
}